fastapi
uvicorn[standard]
pytest
yoyo-database-migrations
psycopg[binary]==3.2.*
httpx
pydantic-settings
pytest-asyncio
psycopg2-binary
psycopg_pool
openai
python-dotenv
pytest-cov
anthropic
huggingface_hub
torch
transformers
