anthropic
black
fastapi
httpx
huggingface_hub
openai
protobuf
psycopg2-binary
psycopg[binary]==3.2.*
psycopg_pool
pydantic-settings
pytest
pytest-asyncio
pytest-cov
python-dotenv
torch
transformers
uvicorn[standard]
yoyo-database-migrations
