fastapi
uvicorn[standard]
pytest
yoyo-database-migrations
psycopg[binary]==3.2.*
httpx
pydantic-settings
pytest-asyncio
psycopg_pool
openai
python-dotenv
pytest-cov
anthropic
ruff
commitizen
pre-commit
torch
transformers
